RUN_ADDRESS=localhost:8080
ACCRUAL_SYSTEM_ADDRESS=http://localhost:8000
READ_TIMEOUT=30s
WRITE_TIMEOUT=30s
DATABASE_URI=postgres://login:password@localhost:5432/db_name?sslmode=disable
COOKIE_SECRET=123456789